* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(15, 15, 10);
}

#main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading { 
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 70px;
    transition: all ease 0.5s;
}

.heading:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

.outline {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    width: 500px;
    margin-bottom: 10px;
    background-color: black;
    border: solid 2px white;
    border: solid 3px rgb(211, 211, 0);
    border-radius: 0px;
    box-shadow: 0 0 8px 1px rgb(128, 128, 128);
}

.nav {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.nav a {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    transition: all ease 0.3s;
}

.nav a:hover {
    transform: scale(1.1);
}

.nav img {
    width: 35px;
    height: 35px;
    transition: all ease 0.3s;
}

.nav img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nav button {
    background: none;
    border: none;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 15px;
    padding-right: 15px;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: solid 2px white; 
    background-color: black;
}

.screen1 {
    color: rgb(155, 155, 155);
    font-size: 30px;
}

.screen2 {
    color: rgb(255, 255, 0);
    font-size: 55px;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 12px;
}

.btns {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 3px;
}

.back img{
    width: 50px;
    height: 50px;
}
.btns button {
    flex: 1;
    background: none;
    border: solid 1px rgb(104, 102, 102);
    color: white;
    height: 70px;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

.btns button:hover {
    cursor: pointer;
}

.btns .AC, .btns .equal {
    flex: 2;
}

.add img, .sub img, .mul img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.divide img, .equal img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.btns .AC {
    background-color: rgba(255, 0, 0, 0.842);
    border-radius: 3px;
}

.btns:not(.AC) p{
    transition: all ease 0.3s;
}

.btns button:not(.AC):hover p {
    transform: scale(1.5);
}

.btns img {
    transition: all ease 0.5s;
}

.btns button:not(.back):hover img {
    transform: scale(1.5);
}

.btns .num:hover {
    background-color: white;
    color: black;
}

.btns .AC:hover {
    background-color: white;
    color: red;
}

.btns .AC:hover p {
    transition: all ease 0.3s;
    transform: scale(1.2);
}

.btns .sub:hover, .btns .mul:hover, .btns .add:hover, .btns .divide:hover, .btns .equal:hover {
    background-color: rgb(20, 20, 20);
}

.btns .back:hover {
    transform: scale(1.2);
}

.back {
    transition: all ease 0.3s;
}

.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px 0px;
    background-color: black;
}

.git-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: all ease 0.3s;
}

.git-link:hover {
    color: rgb(192, 186, 186);
}

#history-section {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
}

#history-section h3 {
    font-size: 70px;
    font-family: 'Cinzel', serif;
    transition: all ease 0.5s;
}

#history-section h3:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

.calc-history {
    font-family: 'Cinzel', serif;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    gap: 5px;
}

.calc-history p {
    border: solid 2px rgb(251, 255, 0);
    width: 500px;
    box-shadow: 0 0 8px 1px rgb(128, 128, 128);
    background-color: black;
    letter-spacing: 3px;
    transition: all ease 0.3s;
}

.calc-history p:hover {
    transform: scale(1.1);
}

.history-default.hidden {
    display: none;
}

.calc-btn {
    display: none;
    position: fixed;
    top: 10px;
    left: 15px;
    border: 2px solid white;
    padding: 10px 25px;
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: transform 0.3s ease;
}

.calc-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}

#history-section:hover .calc-btn {
    display: block;
}

